body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-image: url(./images/white-paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.none{
    display: none !important
}

section{
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    gap: 90px 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "main main main main main main main main main tools tools tools"
        "notes notes notes notes notes notes notes notes notes tools tools tools";
}

header{
    grid-area: main;
    display: flex;
    align-items: center;
}

.note{
    outline: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    background-color: wheat;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border: none;
    resize: none;
}

aside{
    background-color: chocolate;
    grid-area: tools;
    display: flex;
    align-items: center;
}

aside .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.add{
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #26d126;
    width: fit-content;
    padding: 10px 6px 10px 6px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.add:hover{
    background-color: #1dc31d;
    color: rgb(230, 229, 229);
}

.colors{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(160, 157, 157, 0.712);
}

.colors span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.colors span:first-child{
    background-color: red;
}

.colors span:nth-child(2){
    background-color: blue;
}

.colors span:nth-child(3){
    background-color: black;
}

.colors span:nth-child(4){
    background-color: yellow;
}

nav{
    grid-area: notes;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.TheNote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d3e7f7;
    /* background-color: wheat; */
    outline: 1px solid;
    width: 100%;
    border-radius: 10px;
}

.Childnote{
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    resize: none;
}
.Childnote:focus{
    outline: none;
}

.update{
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    padding: 10px 6px 10px 6px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.update:hover{
    background-color: rgb(102, 102, 102);
    color: rgb(230, 229, 229);
}

.delete{
    background-color: red;
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    padding: 10px 6px 10px 6px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.delete:hover{
    background-color: rgb(218, 1, 1);
    color: rgb(230, 229, 229);
}

.save{
    background-color: rgb(0, 255, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    text-align: center;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.save:hover{
    background-color: rgb(3, 231, 41);
    color: rgb(230, 229, 229);
}

.cancel{
    background-color: rgb(255, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    text-align: center;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.cancel:hover{
    background-color: rgb(253, 24, 24);
    color: rgb(230, 229, 229);
}

@media (min-width: 200px) and (max-width: 440px){
    .note{
        font-size: 8px;
    }
    .add{
        font-size: 12px;
    }
    .colors span{
        width: 23px;
        height: 23px;
    }
    .Childnote{
        font-size: 8px;
    }
    .update{
        font-size: 7px;
        padding: 7px 4px 7px 4px;
    }
    .delete{
        font-size: 7px;
        padding: 7px 4px 7px 4px;
    }
    .save{
        font-size: 11px;
        padding: 7px 8px 7px 8px;
    }
    .cancel{
        font-size: 11px;
        padding: 7px 8px 7px 8px;
    }
}

@media (min-width: 440px) and (max-width: 767px){
    .note{
        font-size: 10px;
    }
    .add{
        font-size: 13px;
    }
    .colors span{
        width: 25px;
        height: 25px;
    }
    .Childnote{
        font-size: 10px;
    }
    .update{
        font-size: 8px;
    }
    .delete{
        font-size: 8px;
    }
    .save{
        font-size: 12px;
    }
    .cancel{
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 992px){
    .note{
        font-size: 13px;
    }
    .add{
        font-size: 15px;
    }
    .colors span{
        width: 25px;
        height: 25px;
    }
    .Childnote{
        font-size: 13px;
    }
    .update{
        font-size: 11px;
    }
    .delete{
        font-size: 11px;
    }
    .save{
        font-size: 15px;
    }
    .cancel{
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .note{
        font-size: 14px;
    }
    .Childnote{
        font-size: 14px;
    }
}

@media (min-width: 1200px){
    
}